body				{ background-color:#90D2F5; text-align:center;}
h1				{color:#FFFFFF;font-size:70px;}
a				{text-decoration:none;color:blue;}
div#Uberschrift	{position:absolute;top:0px;left:0px;width:1280px;background-color:#5F5F5F;color:#FFFFFF}
div#Links		{background-color:#00FF40;position:absolute;top:168px;left:0;width:250px;bottom:0;border-radius:10px;box-shadow:3px 3px 6px #04B431;bottom:-700px;}
div#validator	{position:absolute;top:2px;left:2px;border-radius: 18px;}
div#Home			{position:absolute;top:70px;left:1000px;}
div#U1			{position:absolute;top:180px;left:400px;text-align:center;}
div#Steam		{position:absolute;top:450px;left:300px;text-align:right;right:350px;}
div#Bild1		{position:absolute;top:550px;right:30px;}
div#Uplay		{position:absolute;top:850px;left:600px;text-align:left;}
div#Bild2		{position:absolute;top:850px;left:300px;}
div#Origin		{position:absolute;top:1200px;left:300px;right:300px;text-align:right;}
div#Bild3		{position:absolute;top:1250px;right:40px;}